/* For Tablets */
@media all and (max-width: 1000px) {
      


  }
  
  /* For Smartphones 670px*/
  @media all and (max-width: 670px) {
    .changer {
      width: 100%;
    }
    
        
    /* Add CSS for header-right */
    .header-right {
      display: none;
    }
    
    /* Add CSS for menu-icon */
    .menu-icon {
      display: block;
    }

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}


  }